body {
    font-family: 'Orbitron', sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f0f0f0;
    color: #333;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}

.post {
    width: 300px;
    height: 350px;
    margin: 20px;
    border: 3px solid #007acc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #007acc;
    transition: all 0.5s ease;
    overflow: hidden;
    text-align: center;
    background-color: #ffffff;
    text-decoration: none;
    color: inherit;
}
.post h2 {
    height: 50px;
}

.post:hover {
    box-shadow: 0 0 20px #ff9900, 0 0 30px #33cc33;
    border-color: #ff9900;
}

.description {
    font-size: 14px;
    color: #888;
}

.theme-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 24px;
}

/* Темная тема  */
.dark-theme {
    background-color: #222;
    color: #ddd;
}

.dark-theme .post {
    background-color: #333;
    border-color: #00ff00;
    box-shadow: 0 0 10px #00ff00;
}

.dark-theme .post:hover {
    box-shadow: 0 0 20px #ff9900, 0 0 30px #33cc33;
    border-color: #ff9900;
}

.dark-theme .description {
    color: #666;
}

/* Стили для адаптива */
@media (max-width: 811px) {
    .theme-toggle {
        position: static;
        margin-bottom: 20px;
        text-align: center;
        width: 100%;
    }
}

  /* Стили для видеофона */
  .video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}
.video-background video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%) contrast(150%);
    animation: glitch 1s infinite;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.9);
    z-index: -1;
}
.dark-theme .overlay {
    background: rgba(0, 0, 0, 0.9);
}

/* Глитч-эффект */
/* @keyframes glitch {
    0% { clip-path: inset(50% 0 1% 0); }
    20% { clip-path: inset(1% 0 50% 0); }
    40% { clip-path: inset(1% 0 1% 0); }
    60% { clip-path: inset(10% 0 20% 0); }
    80% { clip-path: inset(40% 0 10% 0); }
    100% { clip-path: inset(20% 0 20% 0); }
} */